<%- include('partials/header', { pageTitle: 'About Us' }) %>

<main>
  <h1><%= title %></h1>
  <p>Comment vous appelez-vous ? (What’s your name?)</p>
  <p>Je m’appelle… (My name is…)</p>
  <p>Enchanté ! / Enchantée ! (Pleased to meet you!)</p>
  <p>D’où viens-tu ? / D’où venez-vous ? (Where are you from?)</p>
  <p>Je viens de… (I’m from…)</p>
</main>

<%- include('partials/footer') %>
